* {
    line-height: 1.5;
    background-color: #FCF6DF;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img.cookbook {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.cookbook2 {
    width: 100%;
    transform: scaleX(-1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#gap {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    row-gap: 20px;
}

ul {
    list-style: none;
    text-align: center;
    text-size-adjust: 20px;
}

h1 {
    color: #F91724;
    text-align: center;
}

h2 {
    color: #F91724;
    text-align: center;
}

img.cult-of-the-lamb {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}