* {
    line-height: 1.5;
    background-color: #FCF6DF;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img.cooking-fire {
    width: 250px;
    display: inline-block;
    margin: 0px;
}

img.deer-cooking {
    width: 250px;
    display: inline-block;
    margin: 0px;
}

img.silo {
    width: 250px;
    display: inline-block;
    margin: 0px;
}

img.chained {
    width: 55%;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #F91724;
    text-align: center;
}

h2 {
    color: #F91724;
    text-align: center;
    margin-bottom: 25px;
}

img.cult-of-the-lamb {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-weight: bold;
    color: rgb(250, 248, 244);
    text-decoration: none;   
    padding: 10px 10px;
    margin: auto; 
    background-color: rgb(231, 197, 86);   
    display: block;
    width: 250px;
    height:65px;
}

.border {
    border-color: white;
    border: 5px solid rgb(231, 197, 86);
    margin: 5px;
}

.homemade-crispy-hash-browns {
    border: 5px solid #FCFAEF;
    display: inline-block;
    width: 265px;
    margin-right: 20px;
}

.sazerac-cocktail {
    border: 5px solid #FCFAEF;
    display: inline-block;
    width: 265px;
}

.fresh-tomato-soup {
    border: 5px solid #FCFAEF;
    display: inline-block;
    width: 265px;
    margin-left: 20px;
}