* {
    line-height: 1.5;
    background-color: #FCF6DF;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Eczar', serif;
}

img.cooking-fire {
    width: 250px;
    display: inline-block;
    margin: 0px;
}

img.deer-cooking {
    width: 250px;
    display: inline-block;
    margin: 0px;
}

img.silo {
    width: 250px;
    display: inline-block;
    margin: 0px;
}

img.chained {
    width: 55%;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #F91724;
    text-align: center;
}

h2 {
    color: #f5ac0f;
    text-align: center;
    margin-bottom: 25px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

img.cult-of-the-lamb {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-weight: bold;
    color: rgb(250, 248, 244);
    text-decoration: none;
    padding: 10px 10px;
    margin: auto;
    background-color: rgb(231, 197, 86);
    display: block;
    width: 250px;
    height: 65px;
}

.border {
    border-color: white;
    border: 5px solid rgb(231, 197, 86);
    margin: 5px;
}

.homemade-crispy-hash-browns {
    border: 5px solid #FCFAEF;
    display: inline-block;
    width: 265px;
    margin-right: 20px;
}

.sazerac-cocktail {
    border: 5px solid #FCFAEF;
    display: inline-block;
    width: 265px;
}

.fresh-tomato-soup {
    border: 5px solid #FCFAEF;
    display: inline-block;
    width: 265px;
    margin-left: 20px;
}

.container {
    display: flex;
    padding: 1% 0;
}

.container>div {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    color: #F91724;
}

#header-1 a {
    color: #F91724;
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    background-color: #FCF6DF;
}

#header-2 a {
    color: #F91724;
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    background-color: #FCF6DF;
}

/* Below this line are the css styles for the recipe pages*/

.recipe-style {
    border: 5px solid rgb(231, 197, 86);
    margin: 5px;
}

h3 {
    font-weight: bold;
    font-size: 20pt;
    color: rgb(250, 248, 244);
    text-decoration: none;
    padding: 10px 10px;
    margin: auto;
    background-color: rgb(231, 197, 86);
    display: block;
    width: 100%;
    height: 65px;
}

img.fresh-tomato-soup {
    border: 10px solid #FCFAEF;
    width: 50%;
    margin: 0;
}

img.homemade-crispy-hash-browns {
    border: 10px solid #FCFAEF;
    width: 50%;
    margin: 0;
}

img.sazerac-cocktail {
    border: 10px solid #FCFAEF;
    width: 50%;
    margin: 0;
}

p {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

li {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 5px;
}

.recipe-card-border {
    border: 10px solid #FCFAEF;
    margin-left: 20px;
    margin-right: 20px;
}

.join-us-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    border: 5px solid #f5ac0f;
    margin: 10px;
}

.join-us {
    flex: auto;
}
